In [1]:
import pandas as pd

In [2]:
from run_data import get_sp_data

In [3]:
df = pd.read_pickle("data/sp_500_data.pkl")

In [4]:
df.head()

            Adj Close                                                         \
                    A        AAL        AAP      AAPL ABBV        ABC   ABMD
Date
2008-01-02  23.620308  12.557317  34.522018  5.941450  NaN  18.004866  15.25
2008-01-03  23.386061  11.991671  34.852627  5.944194  NaN  18.113989  15.02
2008-01-04  22.624746  11.699423  32.758717  5.490445  NaN  17.701756  14.48
2008-01-07  22.995642  11.529727  34.237305  5.416953  NaN  17.936167  14.74
2008-01-08  22.963102  10.379585  32.474022  5.222097  NaN  18.449432  14.57

                                             ...   Volume                     \
                  ABT        ACN       ADBE  ...     WYNN      XEL       XOM
Date                                         ...
2008-01-02  18.950943  27.410191  41.709999  ...  1629800  1752000  23351900
2008-01-03  18.835491  26.938917  41.790001  ...  2432900  1589400  19160600
2008-01-04  18.944151  26.536037  40.360001  ...  3068700  2448400  24730900
2008-01-07  19.524809  25.821520  40.240002  ...  2366800  2208200  28937500
2008-01-08  20.037540  25.821520  39.220001  ...  2795800  2467900  21764500


               XRAY XYL      YUM      ZBH    ZBRA     ZION ZTS
Date
2008-01-02   933900 NaN  4132244  1476608  720200  1938800 NaN
2008-01-03   673700 NaN  3846950  1570441  467600  1538300 NaN
2008-01-04   909000 NaN  6056692  2314101  401400  1921200 NaN
2008-01-07   895600 NaN  6366607  2790785  560100  2608000 NaN
2008-01-08  1423800 NaN  5283574  4723683  339200  3228300 NaN

[5 rows x 3018 columns]

À calculer : 

- RSI : It compares the magnitude of recent price changes across stocks to identify
stocks as overbought or oversold. A high RSI (usually above 70) indicates
overbought and a low RSI (typically below 30) indicates oversold. It first
computes the average price change for a given number (often 14) of prior
trading days with rising prices $\Delta_p^{up}$
 and falling prices $\Delta_p^{down}$, respectively.

- Price Momentum : This factor computes the total return for a given number of prior trading
days. In academic literature, it is common to use the last 12 months except
for the most recent month due to a short-term reversal effect that's frequently
observed. However, shorter periods have also been widely used.

- 12-month price momentum volume adjustment : The indicator normalizes the total return over the previous 12 months by
dividing it by the standard deviation of these returns.

- Price acceleration : Price acceleration calculates the gradient of the price trend (adjusted for
volatility) using linear regression on daily prices for a longer and a shorter
period, for example, 1 year and 3 months of trading days, and compares the
change in the slope as a measure of price acceleration.

- Percent off, 52 weeks high : This factor uses the percent difference between the most recent and the
highest price for the last 52 weeks.