In [1]:
from functions.importationTitres import read_sp_data
from functions.technicalIndicators import MACD
import ta

In [2]:
df_close = read_sp_data()
df_close

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-03,14.640813,NaN,26.321484,0.964983,NaN,11.297132,15.010000,14.722258,19.383123,30.838949,...,36.172783,9.249360,27.801317,24.950699,NaN,12.143386,70.511505,55.509998,50.938416,NaN
2005-01-04,14.254559,NaN,26.146210,0.974893,NaN,11.207767,14.980000,14.573996,18.927395,30.024111,...,36.095520,9.110771,27.612606,24.748907,NaN,11.982585,70.484856,54.470001,50.242996,NaN
2005-01-05,14.248428,NaN,26.194565,0.983432,NaN,11.186396,14.690000,14.406808,18.853889,29.859142,...,36.503876,9.008117,27.468292,24.457430,NaN,11.954053,69.934128,52.570000,50.061607,NaN
2005-01-06,13.935751,NaN,26.170385,0.984194,NaN,11.281590,14.520000,14.731727,18.684834,29.364239,...,37.982807,8.992722,27.817957,24.574020,NaN,12.088917,70.742462,52.650002,50.348824,NaN
2005-01-07,13.923484,NaN,26.019287,1.055854,NaN,11.248562,14.290000,14.984089,19.559534,29.384233,...,36.719097,8.941394,27.634800,24.385681,NaN,12.021486,70.618111,53.099998,49.124325,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-26,125.169998,13.43,181.256821,151.389725,150.869995,144.749374,278.510010,109.089996,285.179993,379.260010,...,61.250000,69.753654,88.767509,35.830002,84.641113,117.265022,108.019997,326.970001,52.373444,176.380005
2022-07-27,127.709999,13.97,184.270020,156.572510,151.149994,144.619781,285.179993,109.989998,297.529999,392.779999,...,63.290001,69.793396,90.688843,36.490002,86.953491,119.921997,111.110001,338.489990,53.177811,177.470001
2022-07-28,131.110001,13.76,189.344849,157.131744,149.750000,145.118225,292.200012,110.360001,303.679993,403.500000,...,63.650002,71.740654,91.748550,36.349998,89.684502,122.111259,110.779999,344.500000,53.108295,182.270004
2022-07-29,134.100006,13.71,191.911987,162.284576,143.509995,145.477097,293.010010,108.839996,306.260010,410.119995,...,63.480000,72.704353,95.997269,36.160000,91.727760,121.942093,110.389999,357.690002,54.170860,182.550003
2022-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
sma10 = ta.trend.dpo(df_close["A"])
sma10.head(15)

Date
2005-01-03   NaN
2005-01-04   NaN
2005-01-05   NaN
2005-01-06   NaN
2005-01-07   NaN
2005-01-10   NaN
2005-01-11   NaN
2005-01-12   NaN
2005-01-13   NaN
2005-01-14   NaN
2005-01-18   NaN
2005-01-19   NaN
2005-01-20   NaN
2005-01-21   NaN
2005-01-24   NaN
Name: dpo_20, dtype: float64

In [4]:
from functions.technicalIndicators import MACD, DPO

In [5]:
DPO(df_close["A"])

Date
2005-01-03         NaN
2005-01-04         NaN
2005-01-05         NaN
2005-01-06         NaN
2005-01-07         NaN
                ...
2022-07-26    2.563774
2022-07-27   -1.859079
2022-07-28   -3.119999
2022-07-29   -6.667003
2022-08-01         NaN
Name: dpo_20, Length: 4425, dtype: float64

In [6]:
import pandas as pd

In [7]:
df = pd.read_pickle("../data/IndicatorsDataFrame60_2.pkl")

In [8]:
df.tail()

,AROON|GOOGL-GOOG,AROON|PEG-EXC,AROON|EBAY-AMP,AROON|SLB-BKR,AROON|PHM-DHI,AROON|PHM-LEN,AROON|REG-KIM,AROON|WFC-USB,AROON|XOM-CVX,AROON|LIN-APD,...,EMA|QRVO-FRT,EMA|SCHW-QRVO,EMA|WRK-IP,EMA|WRK-WAT,EMA|LRCX-KLAC,EMA|SLB-IR,EMA|UDR-MAA,EMA|WEC-ED,EMA|FOXA-FOX,EMA|PRU-PFG
Date,,,,,,,,,,,,,,,,,,,,,
2022-07-26,-32.0,-92.0,80.0,56.0,-8.0,-72.0,-84.0,76.0,76.0,-36.0,...,-0.046216,-0.398275,-0.255450,-0.718317,0.038623,-0.782099,-0.611279,0.972098,0.072827,-0.450718
2022-07-27,-32.0,-76.0,80.0,56.0,-96.0,-76.0,-84.0,76.0,72.0,-36.0,...,-0.045501,-0.401037,-0.252587,-0.719218,0.037220,-0.783056,-0.611644,0.967974,0.072653,-0.449387
2022-07-28,-32.0,-76.0,60.0,56.0,-20.0,-80.0,-96.0,76.0,44.0,-32.0,...,-0.048515,-0.395693,-0.250142,-0.720370,0.038009,-0.785326,-0.612402,0.963295,0.072118,-0.447883
2022-07-29,-32.0,-76.0,60.0,56.0,-24.0,-84.0,-92.0,96.0,44.0,40.0,...,-0.051942,-0.389444,-0.246805,-0.721372,0.037948,-0.787155,-0.613429,0.959289,0.070788,-0.447646
2022-08-01,44.0,-76.0,60.0,56.0,-24.0,-84.0,-96.0,64.0,-36.0,40.0,...,-0.051942,-0.389444,-0.246805,-0.721372,0.037948,-0.787155,-0.613429,0.959289,0.070788,-0.447646