In [1]:
import numpy as np

from RunningScrip.newVariableForPairTrading import createModifiedVariableForPairTrading
from functions.technicalIndicators import *
from typing import Callable, Dict, List, Tuple
import pandas as pd
from functions.dataTransformation import stack_columns
from RunningScrip.RollingData import getData

In [2]:
indicators = {
    "AROON": AROON,
    "AROON_UP": AROON_UP,
    "AROON_DOWN": AROON_DOWN,
    "MACD": MACD,
    "RSI": RSI,
    "STOCHRSI": STOCHRSI,
    "TRIX": TRIX,
    "PPO": PPO,
    "STC": STC,
    "KAMA": KAMA,
    "KST": KST,
    "DPO": DPO,
    "BOLLINGER": BOLLINGER,
    "ULCER": ULCER,
    "TSI": TSI,
    "EMA": EMA
}

In [5]:
newVariableDataFrame, newVariableToTradeDataFrame, df_indicators = getData(indicators=indicators, save_to_pickle=True)

In [4]:
df_indicators

,Paire,Prix,Return,Lag_Prix_1,AROON,AROON_UP,AROON_DOWN,MACD,RSI,STOCHRSI,TRIX,PPO,STC,KAMA,KST,DPO,BOLLINGER,ULCER,TSI,EMA
Date,,,,,,,,,,,,,,,,,,,,
2005-01-04,DVN-APA,1.005658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-05,DVN-APA,0.995197,-0.010402,1.005658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-06,DVN-APA,0.993009,-0.002198,0.995197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-07,DVN-APA,0.996681,0.003697,0.993009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-10,DVN-APA,1.005807,0.009156,0.996681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-25,XOM-CVX,0.420973,0.003550,0.419483,76.0,84.0,8.0,0.006058,56.675187,0.020535,0.270726,1.459641,13.430403,0.419124,60.054692,-0.003712,4.874284,1.523998,20.092336,0.421123
2022-07-26,XOM-CVX,0.422624,0.003923,0.420973,76.0,80.0,4.0,0.005598,58.358705,0.129742,0.257018,1.347222,6.715201,0.419135,56.876529,-0.001082,4.823292,1.449840,17.679519,0.421100
2022-07-27,XOM-CVX,0.426206,0.008476,0.422624,72.0,76.0,4.0,0.005305,60.205043,0.249511,0.243593,1.275079,3.357601,0.419150,53.922729,0.000276,4.840672,1.268279,16.860543,0.421334
2022-07-28,XOM-CVX,0.427960,0.004114,0.426206,44.0,72.0,28.0,0.005300,63.940320,0.491811,0.232167,1.271747,1.678800,0.419206,51.435884,0.002243,4.951609,1.186704,18.583737,0.422084
2022-07-29,XOM-CVX,0.409675,-0.042727,0.427960,44.0,68.0,24.0,0.005377,65.640536,0.602101,0.222940,1.287457,0.839400,0.419399,49.485776,0.006188,5.100001,1.150940,21.040358,0.422988

In [6]:
df = pd.read_pickle("../data/indicatorsDataFrame60_2.pkl")
df.head()

,Paire,Prix,Return,Lag_Prix_1,AROON,AROON_UP,AROON_DOWN,MACD,RSI,STOCHRSI,TRIX,PPO,STC,KAMA,KST,DPO,BOLLINGER,ULCER,TSI,EMA
Date,,,,,,,,,,,,,,,,,,,,
2005-01-04,DVN-APA,1.005658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-05,DVN-APA,0.995197,-0.010402,1.005658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-06,DVN-APA,0.993009,-0.002198,0.995197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-07,DVN-APA,0.996681,0.003697,0.993009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-10,DVN-APA,1.005807,0.009156,0.996681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN